.borderTopEndClass {
    border-top:  solid 1px #d6d7d9;
    border-bottom:  solid 1px #d6d7d9;
}

.bordeRroundedTop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.paddingFaPhotoVideoClass {
    margin-left: 0.2rem;
}

.graphLegendClass {
    font-size: small;
    margin-left: 0.2rem;
}

.display-contents {
  display: contents;
}

.widthClassColor1 {
    width: 5px;
}
